<!DOCTYPE html>
<html>
<head>
	<title>Landing page QOL</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.js"></script>
	<style type="text/css">
		.mrgin{
			margin: 10% 3% 3% 3%;
		}
	
	</style>
</head>
<body>
	<div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Landing page QOL</div>
                <a href="/" class="item">Home</a>
            </div>
        </div>
<div class="mrgin">
	
<div class="ui center aligned grid">
	<div class="eight wide column">
	<form class="ui form segment" action="/findcity" method="POST">
		<div class="field ui blue segment raised segments">
			<h1>Update City Data</h1>
		</div>
		<div class="field ui violet segment">
		<label><h3>City</h3></label>
		<input type="text" name="city" placeholder="Enter City Name Here">
		</div>


		
		<div class="field">
		<button class="ui fluid center aligned button black">Proceed</i></button>
		</div>
	</form>
</div>
</div>
</div>
</body>
</html>