<!DOCTYPE html>
<html>
<head>
	<title>Landing page QOL</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.js"></script>
	<style type="text/css">
		.mrgin{
			margin: 10% 3% 3% 3%;
		}
	
	</style>
</head>
<body>
	<div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Landing page QOL</div>
                <a href="/" class="item">Home</a>
            </div>
        </div>
<div class="mrgin">
	
<div class="ui center aligned grid">
	<div class="eight wide column">
	<form enctype = "multipart/form-data" class="ui form segment" action="/testupload" method="POST">
		<div class="field ui blue segment raised segments">
			<h1>Update data</h1>

		</div>
		<div class="field ui violet segment">
		<label><h3>City</h3></label>
		<input type="text" name="city" value="<%= cname %>"  placeholder="Enter City Name Here" readonly>
		</div>


		<!-- 1 -->
		<div class="field ui violet segment" field ui violet segment>
		<label><h4>Crime Information</h4></label>
		<input type="file" name="CrimeInformation" value="" placeholder="CrimeInformation">
		<label>No. of columns</label>
		<select name="no1">
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			  <option value="5">6</option>
			  <option value="5">7</option>
			  <option value="5">8</option>
			  <option value="5">9</option>
			  <option value="5">10</option>
			  <option value="5">11</option>
			  <option value="2">12</option>
			  <option value="3">13</option>
			  <option value="4">14</option>
			  <option value="5">15</option>
			  <option value="5">16</option>
			  <option value="5">17</option>
			  <option value="5">18</option>
			  <option value="5">19</option>
			  <option value="5">20</option>
			  <option value="2">21</option>
			  <option value="2">22</option>
			  <option value="3">23</option>
			  <option value="4">24</option>
			  <option value="5">25</option>
			  	
		</select>
		</div>


		<!-- 2 -->
		<div class="field ui violet segment">
		<label><h4>Education Information</h4></label>
		<input type="file" name="EducationInformation" placeholder="EducationInformation">
		<label>No. of columns</label>
		<select name="no2">
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			  <option value="5">6</option>
			  <option value="5">7</option>
			  <option value="5">8</option>
			  <option value="5">9</option>
			  <option value="5">10</option>
			  <option value="5">11</option>
			  <option value="2">12</option>
			  <option value="3">13</option>
			  <option value="4">14</option>
			  <option value="5">15</option>
			  <option value="5">16</option>
			  <option value="5">17</option>
			  <option value="5">18</option>
			  <option value="5">19</option>
			  <option value="5">20</option>
			  <option value="2">21</option>
			  <option value="2">22</option>
			  <option value="3">23</option>
			  <option value="4">24</option>
			  <option value="5">25</option>
		</select>
		</div>


		<!-- 3 -->
		<div class="field ui violet segment">
		<label><h4>Ethnicity Information</h4></label>
		<input type="file" name="EthnicityInformation" placeholder="EthnicityInformation">
		<label>No. of columns</label>
		<select name="no3">
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			  <option value="5">6</option>
			  <option value="5">7</option>
			  <option value="5">8</option>
			  <option value="5">9</option>
			  <option value="5">10</option>
			  <option value="5">11</option>
			  <option value="2">12</option>
			  <option value="3">13</option>
			  <option value="4">14</option>
			  <option value="5">15</option>
			  <option value="5">16</option>
			  <option value="5">17</option>
			  <option value="5">18</option>
			  <option value="5">19</option>
			  <option value="5">20</option>
			  <option value="2">21</option>
			  <option value="2">22</option>
			  <option value="3">23</option>
			  <option value="4">24</option>
			  <option value="5">25</option>
		</select>
		</div>


		<!-- 4 -->
		<div class="field ui violet segment">
		<label><h4>Home Tenure Information</h4></label>
		<input type="file" name="HomeTenureInformation" placeholder="HomeTenureInformation">
		<label>No. of columns</label>
		<select name="no4">
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			  <option value="5">6</option>
			  <option value="5">7</option>
			  <option value="5">8</option>
			  <option value="5">9</option>
			  <option value="5">10</option>
			  <option value="5">11</option>
			  <option value="2">12</option>
			  <option value="3">13</option>
			  <option value="4">14</option>
			  <option value="5">15</option>
			  <option value="5">16</option>
			  <option value="5">17</option>
			  <option value="5">18</option>
			  <option value="5">19</option>
			  <option value="5">20</option>
			  <option value="2">21</option>
			  <option value="2">22</option>
			  <option value="3">23</option>
			  <option value="4">24</option>
			  <option value="5">25</option>
		</select>
		</div>


		<!-- 5 -->
		<div class="field ui violet segment">
		<label><h4>Housing Information</h4></label>
		<input type="file" name="HousingInformation" placeholder="HousingInformation">
		<label>No. of columns</label>
		<select name="no5">
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			  <option value="5">6</option>
			  <option value="5">7</option>
			  <option value="5">8</option>
			  <option value="5">9</option>
			  <option value="5">10</option>
			  <option value="5">11</option>
			  <option value="2">12</option>
			  <option value="3">13</option>
			  <option value="4">14</option>
			  <option value="5">15</option>
			  <option value="5">16</option>
			  <option value="5">17</option>
			  <option value="5">18</option>
			  <option value="5">19</option>
			  <option value="5">20</option>
			  <option value="2">21</option>
			  <option value="2">22</option>
			  <option value="3">23</option>
			  <option value="4">24</option>
			  <option value="5">25</option>
		</select>
		</div>


		<!-- 6 -->
		<div class="field ui violet segment">
		<label><h4>Population Information</h4></label>
		<input type="file" name="PopulationInformation" placeholder="PopulationInformation">
		<label>No. of columns</label>
		<select name="no6">
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			  <option value="5">6</option>
			  <option value="5">7</option>
			  <option value="5">8</option>
			  <option value="5">9</option>
			  <option value="5">10</option>
			  <option value="5">11</option>
			  <option value="2">12</option>
			  <option value="3">13</option>
			  <option value="4">14</option>
			  <option value="5">15</option>
			  <option value="5">16</option>
			  <option value="5">17</option>
			  <option value="5">18</option>
			  <option value="5">19</option>
			  <option value="5">20</option>
			  <option value="2">21</option>
			  <option value="2">22</option>
			  <option value="3">23</option>
			  <option value="4">24</option>
			  <option value="5">25</option>
		</select>
		</div>


		<!-- 7 -->
		<div class="field ui violet segment">
		<label><h4>Poverty Labour Information</h4></label>
		<input type="file" name="PovertyLabourInformation" placeholder="PovertyLabourInformation">
		<label>No. of columns</label>
		<select name="no7">
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			  <option value="5">6</option>
			  <option value="5">7</option>
			  <option value="5">8</option>
			  <option value="5">9</option>
			  <option value="5">10</option>
			  <option value="5">11</option>
			  <option value="2">12</option>
			  <option value="3">13</option>
			  <option value="4">14</option>
			  <option value="5">15</option>
			  <option value="5">16</option>
			  <option value="5">17</option>
			  <option value="5">18</option>
			  <option value="5">19</option>
			  <option value="5">20</option>
			  <option value="2">21</option>
			  <option value="2">22</option>
			  <option value="3">23</option>
			  <option value="4">24</option>
			  <option value="5">25</option>
		</select>
		</div>



		<!-- 8 -->
		<div class="field ui violet segment">
		<label><h4>Propert Value Information</h4></label>
		<input type="file" name="PropertValueInformation" placeholder="PropertValueInformation">
		<label>No. of columns</label>
		<select name="no8">
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			  <option value="5">6</option>
			  <option value="5">7</option>
			  <option value="5">8</option>
			  <option value="5">9</option>
			  <option value="5">10</option>
			  <option value="5">11</option>
			  <option value="2">12</option>
			  <option value="3">13</option>
			  <option value="4">14</option>
			  <option value="5">15</option>
			  <option value="5">16</option>
			  <option value="5">17</option>
			  <option value="5">18</option>
			  <option value="5">19</option>
			  <option value="5">20</option>
			  <option value="2">21</option>
			  <option value="2">22</option>
			  <option value="3">23</option>
			  <option value="4">24</option>
			  <option value="5">25</option>
		</select>
		</div>

		<div class="field">
		<button class="ui fluid center aligned button black">Upload</i></button>
		</div>
	</form>
</div>
</div>
</div>
</body>
</html>