<!DOCTYPE html>
<html>
<head>
	<title>Landing page QOL</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.js"></script>
	<style type="text/css">
		.mrgin{
			margin-top: 10%;
		}
	
	</style>
</head>
<body>
	<div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Landing page QOL</div>
                <a href="/" class="item">Home</a>
            </div>
        </div>
<div class="mrgin">
<div class="ui center aligned grid">
	<div class="ui blue segment raised segments center aligned">
			<h2>City data has been uploaded!</h2>
			<form action="/testsaveData" method="POST">
			<div class="ui buttons">
				<button class="ui button black">Parse and Save to mongoDB</button>
			</form>
				<div class="or"></div>
				<a class="ui button black" href="/">Cancel Current Operation</a>
			</div>
	</div>
</div>
</div>
</body>
</html>