@import '../../node_modules/material-design-lite/material.css';
@import '../../node_modules/chartist/dist/chartist.css';
@import '../../node_modules/mapbox-gl/dist/mapbox-gl.css';
@import './modules/material.css';
@import './modules/contactus.css';
@import './modules/footer.css';
@import './modules/whatsnew.css';


html, body {
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75em;
    line-height: 1.7;
}
h1, h2, h3, h4, h5 {
    color: #333;
}
a {
    text-decoration-skip: ink;
}


.mdl-grid{
  background: #	F5F5F5;
}
.mdl-shadow--2dp{
background:radial-gradient(rgba(255,0,0,0), #c9c7a6);
}

.mdl-navigation__link{
  font-size: 1.5em;
}
/* sidebar */
.logo-img {
    width: 100%;
}
.demo-drawer-image a {
    text-decoration: none;
    color: inherit;
    padding-top: 5px;


}

/* prevent top-of-page spasms */
.map-container {
    height: 600px;

}
.demo-navigation{
  padding-top: 15px;
  background: #003366;
  color:white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/*.demo-drawer .mdl-layout__drawer{
  color: #00002c;
}*/
/* fix for mdl menu on linux screwing up page scrolling */
.mdl-menu, .mdl-menu__container, .mdl-menu__outline {
    z-index: 0;
}

/* select group */
.selectgroup-link {
    padding-left: 6px;
    white-space: nowrap;
}

/* for side by side elements */
.flexcontainer {
  display: flex;
  flex-direction: row;

}
.flexcontainer .flex-item {
  flex-grow: 1;
  width: 50%;
  padding: 10px;

}

.mdl-button {
  background: #003366;
  font-size: 1em;

}
.demo-navigation span{
    font-size: 1.5em;
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.demo-drawer-image{
  padding-top: 10px;
  background: #003366;
  padding-left: 15px;
  font-size: 1.75em;
  color:white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
/*.demo-drawer-header{
  padding-top: 30px;
  background: #003366;
  padding-left: 15px;
  background: #003366;
  font-size: 1.75em;
  color:white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
*/
.mdl-navigation__link{
  font-size: 1.5em;
font-family: Arial, Helvetica, sans-serif;
}

.undermap-controls button {
    margin-bottom: 5px;

  }
